# Entorno y cache
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.log

# Variables/credenciales
.env
*.env

# Datos (ajusta según tu proyecto)
data/raw/
data/interim/
data/external/
*.sqlite
*.db

# SO/editores
.DS_Store
Thumbs.db
.vscode/
